.footer {
    padding-left: $gutter-smale / 2;
    padding-right: $gutter-smale / 2;

    padding-top: $gutter-smale;
    padding-bottom: $gutter-smale/2;
    background-color: $color-primary;
    color: $color-secondary;

    display: flex;
    justify-content: space-around;
    align-items: baseline;
    

    &__nav {
        width: 30%;
        
        
        &__list {
            // responsive tablette
            
            justify-content: space-between;
            
            &__item {
                &__link {
                    color: $color-secondary;
                }
            }
        }
    }

    &__social-link {
        padding-left: $gutter-smale / 2;
        min-width: 20%;
        display: flex;

        i {

            color: $color-secondary;
        }

        

       

        :last-child {
            margin-right: 1em;
        }
        
    }

    &__newsletter {

        max-width: 70%;
        &__form {
            display: flex;

            &__input {

                max-width: 80%;
            }


        }
    }
}

// Liste des liens du menu de navigation généré par Wordpress

#menu-footer-nav-menu {

    li {

        a {
            color: $color-secondary;

        }

    }
}