.main {

    &__container {
        margin-left: $gutter-smale / 2;
        margin-right: $gutter-smale / 2;

        
        
        &__main-head {
            
            &__top {
                &__header {
                    margin-top: 2em;
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    
                    &__title {
                        // font-size: 2em;
                    }

                    &__button {

                        display: flex;
                        flex-direction: column;
                        
                        >button {
                            margin-bottom: $gutter-smale / 4;
                            border-radius: 10px;
                            border-style: none;
                            height: 50%;

                        }
                        
                        &__fav {
                            background-color: $color-primary;
                            color: $color-secondary;

                        }

                        &__buy {
                            background-color: $color-teritary;
                            color: $color-secondary;
                            
                        }
                    }
                }
                
                &__category {
                   color: $color-title-secondary;
                }
                
                &__bot {
                    margin-bottom: $gutter-smale;

                    &__title {
                        margin-top:2em;
                    }
                    
                }
            }
            
            &__image {
                &__img {
                    max-width: 50%;
                }
            }
        }
        
        &__main-container {
            &__top {
                &__content {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: $gutter-smale/1.5;
                    &__icones {
                        color: $color-primary;
                    }
                }
            }
            
            &__bot {
                &__content {

                    &__title {
                        margin-top: 1em;
                    }
                    
                    &__text {
                        display: flex;
                        
                        i {
                            margin-right: 1em;
                        }
                    }
                }
            }
        }

        &__article {
            &__title {

                text-transform: uppercase;
                border-bottom: 1px solid grey;
                padding-bottom: $gutter-smale / 4;
                margin-top: $gutter-smale;
                margin-bottom: $gutter-smale;

            }

            &__container {

                display: flex;
                flex-wrap: wrap;

                >div {
                    margin-right: $gutter-smale;
                }

                &__content {

                    &__link {
                        margin-top: $gutter-smale / 4;
                        color: black
                    }
                }

            }

        }

    }
}