@media (min-width: 300px) {

    .articles-list-page__filters__filters-list {
        display: flex;
        flex-direction: column;

        h6 {
            margin-bottom: 1em;
            margin-top: 1em;
        }
    }

    // affichage de l'image et du titre

    .home-page__post__head {
        display: flex;
        flex-direction: column-reverse;
    }

    .home-page__post__head__image__img {
        max-width: 200%;
    }

    

    body {

        
        .footer__social-link {
            display: none;
        }
    }
    .footer {
        display: flex;
        
        flex-direction: column-reverse;
    }

    
    
    hr {
        display: none;
    }
     
    .header {

        .mobile-hide {
            display: none;
        }
    }

    // Home page

    .home-page__group {

        border-bottom: 1px solid $color-border-primary;
        margin-left: $gutter-smale;
        margin-right: $gutter-smale;

        &:last-child {
            border-bottom: none;
        }

    }

    // searchform-advanced

    .search-container {
        
        margin-bottom: 0.8em;
    }
    

    
            
     

  }

  @media (min-width: 768px) {

    // banner

    body {

        // largeur de l'espace des filtres
        .articles-list-page__filters {
            width: 40%;

            
        }

        .banner__container {
            left: calc(100% / 2 - 261px);
            padding-left: initial;
            
        }
    }

    

    body { 
        background: rgba(250, 250, 250, 0.993);

        .footer__social-link {
            display: none;
        }

        

        .footer__nav {
            display: initial;
        }
        .footer {

            display: flex;
            
            flex-direction: initial;
        }

        
    }

    

    .header {

        background-color: white;
        padding-top: $gutter-smale / 2;
        padding-bottom: $gutter-smale / 2;

        &__header-up {

            color: $color-primary;
            
            &__nav {
                display: none;
            }
            
            &__head {
                
                &__title {
                    padding-left: initial;

                    &__span {
                        color: $color-primary;
                        font-weight: 600;
                    }
                }
            }

            &__social-links {

                :hover {
                    color: $color-teritary;
                }

                &__link {

                    font-size: 1.5em;
                    padding-right: 1em;
                    color: $color-primary;

                    &:last-child {
                        
                        padding: inherit;
                        
                        
                    }
                    
                }
                    

            }

            &__log {

                &__link {

                    color: $color-primary;

                    :hover {
                        color: $color-teritary;
                    }
                    
                    i {
                        font-size: 1.5em;
                    }
                }
            }
        }

        .mobile-hide {
            display: flex;
        }
    }

    // header panier / login

    .header__header-up__log {

        &__link {

            margin-right: 1.5em;
        }

        :last-child {
                
            margin-right: 0em; 
        }
    }

    

    // article page

    .main {

        &__container {
            margin-left: $gutter-smale;
            margin-right: $gutter-smale;
        }
    }

    // Banner
    
    .main {

        .banner {
            &__container {
                left: 30%;
            }
        }
        
    }

    // articles-list-page

    .articles-list-page {
        display: flex;

        &__main {
            max-width: 65%;

           
        }

        &__filters {
            margin-top: $gutter;
            
            &__filters-list {

                
                &__list {
                    display: flex;
                    flex-direction: column;

                    &__item {

                        &__link {

                            &:hover {
                                background-color: $color-background-primary;
                                
                                
                            }
                        }
                    }
                    
                    
                }
            }
        }
    }

    // Filter-page 

    

        
    .articles-list-page__filters {
        
        margin-top: $gutter-smale / 4;
        margin-left: $gutter-smale;
        margin-bottom: $gutter-smale / 2;
        
        
    }
    
    
    .articles-list-page__filters__filters-list__list {
        margin-bottom: $gutter-large;
    }
    
    // Social Menu

    body {

        
        .header__header-up__log {
            :hover {
                color: $color-title-primary;
            }

        }

        
        .menu-social-links-container {
            ul {

                li {

                    font-size: 1.5em;
                    
                    a {
                        color: $color-primary;
                        width: 5rem;
                        
                        
                        :hover {
                            color: $color-title-primary;
                        }
                    }
                }
            }
        }
        
        
    }

    // searchform-advanced

    .articles-list-page__filters__filters-list {
        display: flex;
        flex-direction: column;
        
    }

    .search-container {
        display: flex;
        margin-bottom: 0.8em;
    }

    #name {
        margin-right: 1em;
    }

    

      
}

@media (min-width: 992px) {

    body {

        
        .articles-list-page__filters {
            
            h6 {
                
                margin-top: initial;
            }
        }
    }

    // affichage du titre et de l'image

    .home-page__post__head {
        display: flex;
        flex-direction: initial;
    }

    body {

       

        .home-page__post__head__image__img {
            max-width: 100%;
        }
    }

    body {
        .footer__social-link {
            display: initial;
            
            order: 2;

            
        }

        footer {

            .menu-social-links-container {
    
                ul {
    
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    hr {
        display: initial !important;
    }
    .main {


        &__container {
            margin-left: $gutter;
            margin-right: $gutter;
        }
    }

    // home page

    .main {

        
        .home-page__post {
            
            border-bottom: none;
            
            
        }
    }

    .home-page__group {

        display: flex;


    }

    // Banner

    .main {

        .banner {
            &__container {
                left: 30%;
            }
        }
        
    }
}

@media (min-width: 1200px) {

    body {

        footer {

            .footer__social-link {
                display: initial;
                display: flex;
                flex-direction: initial;
                order: initial;
            }
            .menu-social-links-container {
    
                ul {
    
                    display: flex;
                    flex-direction: initial;
                }
            }
        }
        
    }

    .main {

        &__container {
            margin-left: $gutter-large;
            margin-right: $gutter-large;
        }

    }

    // Banner

    .main {

        .banner {
            &__container {
                left: 40%;
            }
        }
        
    }
            

    
}

