// Dynamique menu "Social links"

.menu-social-links-container {
    ul {
        display: flex;
        justify-content: space-around;
        
        a {
            color: $color-secondary;;
            width: 5rem;

            :hover {
                color: $color-title-primary;
            }
        }
    }
}

.widget_nav_menu {
    list-style-type: none;
}