/vendor
/wp

/wp-config.php

/content/languages
/content/upgrade
/content/uploads

/content/plugins/*
!/content/plugins/obergine-settings
!/content/plugins/obergine-banner
!/content/plugins/obergine-newsletter
!/content/plugins/obergine-contact-form

/content/themes/*
!/content/themes/obergine

content/db.php