
// Colors

$color-primary: #A9BF08;
$color-secondary: white;
$color-teritary: #87D964;
$color-title-primary: #877AC7;
$color-title-secondary: #959593;

$color-background-primary: #FAFAFA;

$color-border-primary: rgb(224, 223, 223);;

// fonts

$font-stack: 'Montserrat', sans-serif;

//gutters

$gutter: 5em;
$gutter-smale: $gutter / 2;
$gutter-large: $gutter * 2;


