@charset 'UTF-8';

// 1. Abstracts
@import 'abstracts/variables';

// 2. Vendors
@import '~reset-css/sass/reset';
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
@import '~bootstrap/scss/bootstrap';

// 3. Base
@import 'base/fonts',
        'base/typography',
        'base/bases';

// 4. Layout
@import 'layout/header',
        'layout/posts',
        'layout/responsive',
        'layout/social-menu',
        'layout/banner',
        'layout/footer';

// 5. Components
@import 'components/button',
        'components/overlaymenu';

// 6. Pages
@import 'pages/home',
        'pages/legale-mentions-page',
        'pages/contact-page',
        'pages/404',
        'pages/about-page',
        '/pages/faq-page',
        'pages/filters-page',
        'pages/articles-list-page';