.articles-list-page {
    &__filters {

        &__filters-list {

            &__list {

                
                display: flex;
                flex-wrap: wrap;
                margin-left: $gutter;
                
                &__item {
                    margin-right: $gutter-smale /4;
                    padding: 0.5em;
                    border-radius: 6px;
                    margin-bottom: $gutter-smale / 4;
                    
                    &__link {
                        //margin-right: $gutter-smale;
                        padding: 0.5em;
                        border-radius: 6px;
                        margin-bottom: $gutter-smale / 4;
                        color: white;
                        
                        &:hover {
                            background-color: white;
                            text-decoration: none;
                            border: 1px solid blue;
                            
                        }
                        
                    }
                }
            }
        }
    }
   
}

.home-page__post__head__content__head__product {
    font-size: 1.5em;
    font-weight: 600;

}

.home-page__post__head__content__head__family {
    font-size: 1em;
    color: grey;
}