.footer {
    padding-top: $gutter-smale;
    padding-bottom: $gutter-smale/2;
    background-color: $color-primary;
    color: $color-secondary;

    display: flex;
    justify-content: space-around;
    align-items: baseline;
    

    &__nav {
        width: 30%;
        
        
        &__list {
            
            display: flex;
            justify-content: space-between;
            &__item {
                &__link {
                    color: $color-secondary;
                }
            }
        }
    }

    &__social-link {
        width: 10%;
        display: flex;
        justify-content: space-between;
        
    }
}